swagger: '2.0'
info:
  title: 盛元舆情监控微信小程序API
  description: 盛元舆情监控微信小程序API
  version: 1.0.0
host: api.qianjifang.com.cn
basePath: /v1
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /wechat/login:
    post:
      tags:
        - wechat
      summary: 微信登录授权
      parameters:
        - in: body
          name: wechatcode
          description: 微信授权.
          schema:
            type: object
            properties:
              code:
                type: string
                description: 调用接口wx.login() 获取临时登录凭证（code）
              random:
                type: string
                description: 小程序客户端随机生成6位数字
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              session:
                type: string
                description: '小程序登录凭证,对应表session.id'
              is_binding:
                type: boolean
                description: 'openid在表employee找不到返回False,否则为True'
              expire_time:
                type: string
                description: 对应表session.expire_time
        '400':
          description: 微信授权失败 
          schema:
            $ref: "#/definitions/Error"
  /account/login:
    post:
      tags:
        - account
      summary: 员工登录
      security:
        - APISessionHeader: []
      parameters:
        - in: body
          name: account
          schema:
            type: object
            properties:
              username:
                type: string
              password:
                type: string
      responses:
        '204':
          description: 登录成功
        '400':
          description: 登录失败 
          schema:
            $ref: "#/definitions/Error"
  /home:
    get:
      tags:
        - home
      summary: 监控中心
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              employee:
                type: object
                properties:
                  realname:
                    type: string
                  picture:
                    type: string
              new_company_news:
                type: integer
              new_industry_news:
                type: integer
              articles:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    follow_type:
                      type: integer
                      enum:
                        - 1
                        - 2
                    follow_name:
                      type: string
                    time:
                      type: string
                    is_read:
                      type: integer
  /articles:
    get:
      tags:
        - articlelist
      summary: 舆情列表
      parameters:
        - in: query
          name: page_index
          type: integer
        - in: query
          name: follow_type
          type: integer
        - in: query
          name: key
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              articles:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    follow_type':
                      type: integer
                      enum:
                        - 1
                        - 2
                    follow_name:
                      type: string
                    time:
                      type: string
                    is_read:
                      type: integer
  '/article/{id}':
    get:
      tags:
        - articledetails
      summary: 舆情详情
      parameters:
        - in: path
          name: id
          type: integer
          required: true
          description: Numeric ID of the user to get.
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              id:
                type: integer
              title:
                type: string
              follow_type':
                type: integer
              follow_name:
                type: string
              source:
                type: string
              source_url:
                type: string
              content:
                type: string
  '/article/{id}/invalid':
    put:
      tags:
        - Invalidinformation
      summary: 无效信息
      parameters:
        - in: path
          name: id
          type: integer
          required: true
          description: Numeric ID of the user to get.
      responses:
        '204':
          description: OK
        '400':
          description: 失败
          schema:
            $ref: "#/definitions/Error"
  /search:
    get:
      tags:
        - search
      summary: 搜索提示
      parameters:
        - in: query
          name: key
          type: integer
        - in: query
          name: follow_type
          type: integer
          enum:
            - 1
            - 2
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              follows:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    follow_type:
                      type: integer
                      enum: 
                       - 1 #company
                       - 2 #industry
                    company_name:
                      type: string
                    short_name:
                      type: string
                    industry_name:
                      type: string
                    children_count:
                      type: integer
                    children:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          industry_name:
                            type: string
  /follows:
    get:
      tags:
        - attentionlist
      summary: 关注列表
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              company:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    company_name:
                      type: string
                    short_name:
                      type: integer
              industry:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    industry_name:
                      type: string
                    children_count:
                      type: integer
  /follow:
    delete:
      tags:
        - deletefollow
      summary: 删除关注
      parameters:
        - in: body
          name: deletefollow
          schema:
            type: object
            properties:
              follow_type:
                type: integer
                enum:
                  - 1
                  - 2
              id:
                type: integer
      responses:
        '204':
          description: 删除成功
        '400':
          description: 删除失败
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
        - follow
      summary: 对已有公司或行业关注
      parameters:
        - in: body
          name: follow
          schema:
            type: object
            properties:
              follow_type:
                type: integer
                enum:
                  - 1
                  - 2
              id:
                type: integer
      responses:
        '204':
          description: 关注成功
        '400':
          description: 关注失败
          schema:
            $ref: "#/definitions/Error"
  /newfollow:
    post:
      tags:
        - newfollow
      summary: 新的关注
      parameters:
        - in: body
          name: newfollow
          schema:
            type: object
            properties:
              company_name:
                type: string
              short_name:
                type: string
      responses:
        '204':
          description: 关注成功
        '400':
          description: 关注失败 
          schema:
            $ref: "#/definitions/Error"

definitions:
  Error:
    type: object
    properties:
      code:
        type: integer
      message:
        type: string
    required:
      - code
      - message
securityDefinitions:
  APISessionHeader:
    type: apiKey
    in: header
    name: X-Session
